<form [ngBusy]="busy" #f="ngForm" (ngSubmit)="valider()">

  <card cardTitle="Ajouter d'une cession" isCollapse="true">
    <div class="form-group {{codeArt.errors && (codeArt.dirty || codeArt.touched) ? 'has-error' :''}}">
      <label class="control-label">Immobilisation</label>
      <select name="codeArt" id="select1" class="form-control" #codeArt="ngModel"
              [(ngModel)]="cession.codeImmo" 
              required>
        <option *ngFor="let immobilisation of immobilisations" value="{{immobilisation.codeImmo}}">{{immobilisation.codeImmo}}
        </option>
      </select>
      <label *ngIf="codeArt.errors && (codeArt.dirty || codeArt.touched)"
             class="has-error">Ce champs
        est
        obligatoire.</label>
    </div>
    <div class="form-group {{valeurCession.errors && (valeurCession.dirty || valeurCession.touched) ? 'has-error' :''}}">
      <label class="control-label">Valeur cession</label>
      <input type="text" name="valeurCession" class="form-control" #valeurCession="ngModel" placeholder="Valeur cession"
             [(ngModel)]="cession.valeurCession">
      <label *ngIf="valeurCession.errors && (valeurCession.dirty || valeurCession.touched)"
             class="has-error">Ce champs
        est
        obligatoire.
      </label>
    </div>
      <div class="form-group {{dateCession.errors && (dateCession.dirty || dateCession.touched) ? 'has-error' :''}}">
        <label class="control-label">Date</label>

        <input type="date" name="dateCession" class="form-control" #dateCession="ngModel"
               [(ngModel)]="cession.dateCession" >
        <label *ngIf="dateCession.errors && (dateCession.dirty || dateCession.touched)"
               class="has-error">Ce champs
          est
          obligatoire.</label>
      </div>
      <div class="form-group {{observCession.errors && (observCession.dirty || observCession.touched) ? 'has-error' :''}}">
          <label class="control-label">Observation</label>
          <input type="text" name="observCession" class="form-control" #observTransfert="ngModel" placeholder="Observation"
                 [(ngModel)]="cession.observCession">
          <label *ngIf="observCession.errors && (observCession.dirty || observCession.touched)"
                 class="has-error">Ce champs
            est
            obligatoire.
          </label>
        </div>
    <div class="text-right">
      <a href="javascript:" class="btn btn-danger btn-with-icon"
         [routerLink]="['/pages/manage-cession/cession-list']">
        <i class="fa fa-check fa-fw"></i>Annuler
      </a>
      <button type="submit" class="btn btn-success btn-with-icon">
        <i class="fa fa-check fa-fw"></i>Valider
      </button>
    </div>
  </card>
</form>