<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Code</th>
        <th>Désignation</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of emplacements">
        <td>{{item.codeEmp}}</td>
        <td>{{item.desigEmp}}</td>
        <td>
          <span class="label label-info">Modifier</span>
          <span class="label label-danger">Supprimer</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
