<form (ngSubmit)="valider()">

  <card cardTitle="Ajouter un site" isCollapse="true">

    <div class="form-group">
      <label class="control-label">Code</label>
      <input type="text" class="form-control" placeholder="Code" name="code" [(ngModel)]="site.codeSite">
    </div>
    <div class="form-group">
      <label class="control-label">Désignation</label>
      <input type="text" name="desigSite" class="form-control" placeholder="Désignation"
             [(ngModel)]="site.desigSite">
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-success btn-with-icon">
        <i class="fa fa-check fa-fw"></i>Valider</button>
    </div>

  </card>
</form>
